*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(241, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.618;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  width: min(calc(100vw - 2rem), 1200px);
  min-height: 100vh;
  margin: auto;
}

.header {
  text-align: center;
  padding: 2rem 0;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(calc(100vw - 2rem), 550px));
  gap: 2rem;
  margin: 0 0 2rem;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 2rem 0;
}

.meme-preview {
  font-size: 2rem;
}

.meme-preview__meme {
  margin: auto;
  text-align: center;
  position: relative;
}

.meme-preview__input {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}

.meme-preview__input:focus {
  outline: none;
}

.meme-preview__headline {
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 3px 0 #000;
}

.meme-preview__headline--first {
  top: 0;
}

.meme-preview__headline--last {
  bottom: 0;
}

.meme-preview__image {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
}

.meme-form {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.meme-form .form__fieldset {
  position: relative;
}

.meme-form__add {
  flex: 0 0 100%;
  align-self: center;
}

.meme-form__delete {
  background: rgb(255, 193, 193);
  border: 1px solid rgb(141, 68, 68);
  font-weight: 500;
  position: absolute;
  top: -1.5rem;
  right: 0;
  padding: 0.4rem;
}

.form__fieldset {
  padding: 1rem;
}

.form__legend {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1rem;
}

.form__item {
  margin: 0 0 1rem;
}

.form__label {
  display: block;
  cursor: pointer;
}

.form__input,
.form__select {
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.btn {
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}
