$background-color: hsl(0, 0%, 100%);
$foreground-color: hsl(0, 0%, 0%);
$foreground-color-alt: hsl(0, 0%, 100%);
$primary-color: hsl(209, 54%, 32%);
$primary-color-light: hsl(209, 54%, 37%);
$primary-color-dark: hsl(209, 54%, 27%);
$secondary-color: hsl(32, 92%, 86%);
$secondary-color-light: hsl(32, 92%, 91%);
$secondary-color-dark: hsl(32, 92%, 81%);
$shadow-color: rgba(26, 57, 86, 0.55);
$done-color: hsl(32, 63%, 50%);
$delete-color: hsl(0, 63%, 50%);
