.nav {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem auto 0;
}

.nav .list--nav {
  list-style-type: none;
  position: absolute;
  bottom: 100%;
  width: 80vw;
  margin: 0;
  padding: 1rem;
  background: #fff;
  border: 1px solid #ccc;
}

@media screen and (min-width: 1024px) {
  .nav .list--nav {
    width: 50%;
  }
}

.nav__link {
  background: #fff;
  border: none;
  color: hsl(212, 46%, 34%);
  text-decoration: underline;
  display: inline-block;
  margin: 0 1px;
  padding: 0.8rem 1rem;
}

.nav .list__link {
  display: block;
  padding: 0.2rem;
}

.nav .list__link--current {
  background: hsl(212, 46%, 34%);
  color: #fff;
}

.nav__link:hover,
.nav__link:focus,
.nav .list__link:hover,
.nav .list__link:focus {
  text-decoration-thickness: 4px;
}

.nav__link:focus,
.nav .list__link:focus {
  color: inherit;
}

.nav .list__link--current:focus {
  color: hsl(0, 0%, 89%);
}

.nav__link:active {
  color: hsl(212, 46%, 20%);
  text-decoration-thickness: 2px;
}
