.notebook {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 400px));
}

.notebook__page {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border: 1px solid #000;
}

.notebook__page:nth-child(2) {
  left: -1px;
}

.notebook__page--cover {
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.notebook__page .page__title {
  flex: 0;
  padding: 1rem;
}

.notebook__page .page__content {
  flex: 1;
  padding: 1rem;
}

.notebook__page .page__content:focus {
  border: none;
  outline: none;
}

.notebook__nav .list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 1rem 0;
}
