.notebook-page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 500px;
  padding: clamp(1rem, 3vw, 2rem) 0;
  border: 1px solid #000;
  position: relative;
}

.notebook-page__header,
.notebook-page__footer,
.notebook-page__content {
  padding: 0 clamp(1rem, 3vw, 3rem);
}

.notebook-page__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
}

.notebook-page__title .form__input {
  border: none;
  font-weight: inherit;
  padding: 0;
  width: 100%;
}

.notebook-page__title .form__input:focus {
  outline: none;
}

.notebook-page__content {
  flex: 1;
  display: flex;
  margin: clamp(1rem, 3vw, 2rem) 0 clamp(2rem, 3vw, 3rem);
  white-space: pre-wrap;
}

.notebook-page__content .form__textarea {
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.notebook-page__content .form__textarea:focus {
  outline: none;
  resize: none;
}

.notebook-page__footer {
  text-align: right;
}

.notebook-page__footer .btn--delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.notebook-page--cover {
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.notebook-page--cover .notebook-page__content {
  flex: 0;
}

.notebook-page--cover .notebook-page__title .form__input {
  text-align: center;
}
