body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.618;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  gap: clamp(1rem, 3vw, 2rem);
  min-height: 100vh;
  width: min(calc(100vw - 2rem), 800px);
  margin: auto;
}

a {
  color: hsl(212, 46%, 34%);
}
